$bg-color: #72ffd4;
$bg-input-color: white;
$keypad-color: #403f3c;
$keypad-column-color: #71706d;
$keypad-spacing: 100%;
$font-digits-color: white;
$font-input-color: #71706d;
$font-result-color: #959492;
$breakpoint-mobile: 400px;
$main-width: 380px;

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background-color: $bg-color;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 2.3em;
  color: $font-digits-color;
  background-color: $keypad-color;
  margin: 8px;
  padding: 10px 20px;
  outline: none;
  border: none;
}

main {
  width: 100%;
  max-width: 100%;
}

.calculator {
  background-color: $keypad-color;
  width: $main-width;
  text-align: center;
  margin: 0 auto;
}

.keypad {
  width: $keypad-spacing;
  margin: 0 auto;
  display: flex;
}

.keypad-col-1 {
  width: 80%;
  padding: 10px 0;
}

.keypad-col-2 {
  flex-direction: column;
  width: 20%;
  padding: 10px 0;
  background-color: $keypad-column-color;

  button {
    font-size: 1.2em;
    background-color: $keypad-column-color;
    padding: 13px 10px;
  }
}

.display-div {
  padding: 5px 10px;
  background-color: $bg-input-color;

  p {
    text-align: right;
    color: $font-input-color;
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
}

.author {
  width: $main-width;
  text-align: center;
  margin: 0 auto;

  p {
    font-weight: 300;
    color: $keypad-color;
  }
}
@media screen and (max-width: $breakpoint-mobile) {
  .author,
  .calculator {
    width: 100%;
  }
}
